@page "/usuario"

<h1>usuario</h1>

@code{

   // public Usuario user { get; set; }

   // protected override void OnInitialized(){

      //  user = new Usuario(){
           // Nome = "Milena",
          //  Email = "teste@teste.com"
        };

    }
}